.sidebar {
    margin-top: 30px;
    width: 200px;
    /* margin-left: 10px; */
}

.sidebar li  {
    display: flex;
    margin: 20px 0;
    cursor: pointer;
}
.sidebar li:hover {
    color: red;
}

.categoryItemselected {
    color: red;
}


.sidebar li p {
    font-weight: 200;
    margin-right: 10px;
    color: gray;

}